<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reset Your Password</title>
    <style>
        p {
            margin: 0 0 10px 0;
            line-height: 1.4;
        }
    </style>
</head>
<body>
<p>Dear ${FULL_NAME},</p>
<p>We have received a request to reset your password. Please click the link below to set a new password:</p>
<p>
    <a href="${SET_PASSWORD_LINK}">Reset Password</a>
</p>
<p>If you did not make this request, please disregard this email. Your account will remain secure.</p>
<p>Sincerely,<br>${CLINIC_NAME}</p>
</body>
</html>